@import "../shared/mixins.scss";

#review-info-bar {
    font-size: small;
    background-color: var(--base-fg-color);
}

.breadcrumb .icon-language {
    min-height: 20px;
    width: 20px;
}

#review-left {
    @include review-panel;
    width: 10%;
    padding: 5px 0px 5px 10px;
    background-color: var(--base-fg-color);
}

#review-main-container {
    @include main-content-container;
    display: flex;
    position: fixed;
}

#review-right {
    @include review-panel;
    width: 84%;
    padding: 0px;
    background-color: var(--base-fg-color);
    scroll-behavior: smooth;
    contain: size layout paint;
}

.review-approved {
    @include review-approval-border;
    border-radius: 3px;
}

#review-resizer {
    cursor: ew-resize;
    width: 6px;
    height: 100vh;
}

.show-diffonly-switch, .show-documentation-switch {
    color: var(--base-text-color) !important;
}

.gutter {
    &:hover {
        background-color: var(--base-fg-color);
    }

    &.gutter-horizontal {
        cursor: col-resize;
    }
}

.option-approved > label, .option-pending > label {
    font-size: small;
}

.option-approved > label::after {
    content: "ï˜";
    font-family: "FontAwesome";
    margin-left: 10px;
    color: var(--success-color);
    font-size: medium;
}