@using ApiView
@using System.Collections
@using System.Text
@using APIViewWeb.Models
@model int
@{
    var codeLineSection = TempData["CodeLineSection"] as CodeLineModel [];
    var contentClass = $"code-line-section-content-{Model}";
    var userPreference = TempData["UserPreference"] as UserPreferenceModel ?? new UserPreferenceModel();

    @if (codeLineSection == null)
    {
        <tr class="code-line @contentClass d-none">
             <td class="line-details">
                <span class="line-number"></span>
                <span class="line-details-button-cell">
                    <a class="line-comment-button" style="visibility: hidden;">+</a> <!-- Added for visual consistency -->
                </span>
                <span class="line-details-button-cell">
                    <i class="row-fold-caret fa-solid fa-angle-down" style="visibility: hidden;"></i>
                </span>
             </td>
        </tr>
    }
    else
    {
        foreach (var codeLineModel in codeLineSection)
        {
            var codeLine = codeLineModel.CodeLine;
            var lineClass = (codeLine.LineClass == null) ? contentClass : $"{contentClass} section-loaded {codeLine.LineClass.Trim()}";
            var updatedCodeLine = new CodeLine(codeLine, lineClass: lineClass, indent: codeLine.Indent);
            var updatedCodeLineModel = new CodeLineModel(codeLineModel : codeLineModel, codeLine : updatedCodeLine);

            <partial name="_CodeLine" model="@updatedCodeLineModel" />
        }
    }
}